# Jätä huomiotta Pythonin välimuistikansiot
__pycache__/

# Jätä huomiotta virtuaaliympäristöjen kansiot
venv/
env/
.venv/

# Jätä huomiotta paikalliset tietokantatiedostot
*.db
*.sqlite3

# Jätä huomiotta tiedostot, joissa säilytetään salaisuuksia ja API-avaimia
.env
.env.*
secrets.ini

# Jätä huomiotta käyttöjärjestelmän luomat tiedostot (esim. Mac)
.DS_Store